*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.add-button{
    background-color: green;
    color: #fff;
    margin: 15px 20px 13px 14px;
    padding: 18px;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;

}
